.pokemon-card {
  --border-color: orangered;

  font-family: "Open Sans", sans-serif;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);
  transition-property: background-color box-shadow transform;
  transition-duration: 0.5s;
  cursor: pointer;
  transform-origin: center center;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  border-radius: 50%;
  align-items: center;
  border: solid 0.7em var(--border-color);
  box-sizing: border-box;
  transform: perspective(10em);

  &:hover {
    --border-color: #84318f;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.3);
    transform: perspective(10em) translateZ(1em);
  }

  &__curved-text {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

    text {
      font-size: 0.5em;
      font-weight: bold;
      text-transform: uppercase;
      transform-origin: center center;
      transform: scale(0.7);
    }
  }

  &__status {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  &__types {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: center;
    margin-bottom: 0.5em;
  }
}
