.pokemon-item {
  --name-background: orangered;

  font-family: "Open Sans", sans-serif;
  background-color: white;
  box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);
  transition-property: background-color box-shadow transform;
  transition-duration: 0.5s;
  border-radius: 1.5em;
  cursor: pointer;
  transform: perspective(10em);
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
  border: solid 2px black;

  &:hover {
    --name-background: #84318f;
    box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.3);
    transform: perspective(10em) translateZ(0.3em);
  }

  &__name {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-transform: uppercase;
    background-color: var(--name-background);
    padding: 0.5em;
    color: white;
    box-shadow: 0px -6px 0px #464646 inset;
  }

  &__status {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  &__types {
    text-align: left;
  }

  &__image,
  &__types,
  &__status {
    padding: 0.5em;

    &:empty {
      display: none;
    }
  }
}
