.loading-spinner {
  color: #019fe5;
  padding: 1em;

  svg {
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    animation: spin 1.5s linear infinite;
  }
}
