.header {
  flex: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: -1px;
  margin: 0;
  padding: 0 var(--layout-padding);

  &__logo {
    width: 15em;
    margin-top: 1em;
    margin-right: 2em;
  }

  &__search {
    margin: 1em 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &__back-button {
    color: var(--accent-color) !important;
    margin-right: 0.5em;
    cursor: pointer;
  }
}
