.pokemon-details {
  --accent-color: #858585;

  font-family: "Open Sans", sans-serif;
  padding: 2vmin;
  margin: 2vmin;
  background: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto minmax(15vmax, max-content);
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-areas:
    "header header header"
    "status status status"
    "images images images"
    "description description types"
    "profile abilities stats";
  gap: 2em;
  border-radius: 1.5em;
  box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);

  &__abilities {
    grid-area: abilities;
  }

  &__stats {
    grid-area: stats;
  }

  &__description {
    grid-area: description;
    line-height: 1.5em;
  }

  &__descrition-text {
    padding: 1em 0 0 1em;
  }

  &__profile {
    grid-area: profile;
  }

  &__header {
    grid-area: header;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bold;
    background-color: orangered;
    color: white;
    box-shadow: 0px -6px 0px #464646 inset;
    margin: -2vmin;
    padding: 2vmin;
  }

  &__status {
    grid-area: status;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__images {
    grid-area: images;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  &__types {
    grid-area: types;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-start;
  }

  &__section-title {
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 0.2em;
    background-color: var(--accent-color);
    color: white;
    padding: 0.3em 0.8em;
    border-radius: 2em;
  }

  &--fighting {
    --accent-color: #a89737;
  }

  &--flying {
    --accent-color: #0094b9;
  }

  &--poison {
    --accent-color: #9c1df0;
  }

  &--ground {
    --accent-color: #6d4510;
  }

  &--rock {
    --accent-color: #cd7605;
  }

  &--bug {
    --accent-color: #009089;
  }

  &--ghost {
    --accent-color: #094986;
  }

  &--steel {
    --accent-color: #5a5a5a;
  }

  &--fire {
    --accent-color: #dd2100;
  }

  &--water {
    --accent-color: #00d3f8;
  }

  &--grass {
    --accent-color: #11c71a;
  }

  &--electric {
    --accent-color: #c29519;
  }

  &--psychic {
    --accent-color: #9f00ad;
  }

  &--ice {
    --accent-color: #3acbff;
  }

  &--dragon {
    --accent-color: #ff5e00;
  }

  &--dark {
    --accent-color: #2c2c2c;
    color: white;
  }

  &--fairy {
    --accent-color: #ff00dd;
  }

  &--unknown {
    --accent-color: #797979;
  }

  &--shadow {
    --accent-color: #3f3f3f;
  }
}
