.pokemon-details {
  --accent-color: #858585;
  --accent-text: white;

  font-family: "Open Sans", sans-serif;
  padding: 2vmin;
  margin: 2vmin;
  background: white;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto minmax(15vmax, max-content);
  grid-template-rows: max-content max-content 1fr max-content;
  grid-template-areas:
    "header header header"
    "status status status"
    "images images images"
    "description description types"
    "profile abilities stats";
  gap: 2em;
  border-radius: 1.5em;
  box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);
  color: #363636;

  &__abilities {
    grid-area: abilities;
  }

  &__stats {
    grid-area: stats;
  }

  &__description {
    grid-area: description;
  }

  &__descrition-text {
    padding: 1em 0 0 1em;
    line-height: 1.5em;
  }

  &__profile {
    grid-area: profile;
  }

  &__header {
    grid-area: header;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
    background-color: red;
    color: white;
    border-bottom: solid 8px #464646;
    margin: -2vmin;
    padding: 2vmin;
  }

  &__status {
    grid-area: status;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__images {
    grid-area: images;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }

  &__types {
    grid-area: types;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-end;
    align-content: flex-start;
  }

  &__section-title {
    font-weight: 700;
    font-size: 1.5em;
    background-color: var(--accent-color);
    color: var(--accent-text);
    padding: 0.2em 0.8em;
    border-radius: 1em;
  }

  &--black {
    --accent-color: black;
  }
  &--blue {
    --accent-color: #3a86ff;
  }
  &--brown {
    --accent-color: #a12727;
  }
  &--gray {
    --accent-color: #525252;
  }
  &--green {
    --accent-color: #0a810a;
  }
  &--pink {
    --accent-color: #ff8599;
  }
  &--purple {
    --accent-color: #800080;
  }
  &--red {
    --accent-color: #ff0000;
  }
  &--white {
    --accent-color: #ffffff;
    --accent-text: #2f2f2f;
  }
  &--yellow {
    --accent-color: #fffb10;
    --accent-text: #695f00;
  }
}
